@import url('https://fonts.googleapis.com/css?family=Catamaran:200,400|Lato|Montserrat:200,200i,300,300i,400,400i,600,600i&display=swap');
@font-face{
    font-family: 'Nexa Light';
    src: url(fonts/NexaLight.otf);
}
.heading-font {
  font-family: 'Montserrat','Open Sans', 'Arial', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Montserrat','Open Sans', 'Arial', sans-serif;
}
.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Montserrat','Open Sans', 'Arial', sans-serif;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #69F7E6;
}
a:hover,
a:focus {
  color: #69F7E6;
}
hr {
  max-width: 60px;
  border-width: 4px;
  border-color: rgba(34, 34, 34, 0.1);
  background: #69F7E6;
  text-align: left;
}
hr.light {
  border-color: white;
}
hr.smaller{
    margin-left: 16%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: lighter;
    letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
  font-weight: 200;
  letter-spacing: 1px;
  font-family: 'Nexa Light';
  font-size: 40px;
  color: white;
  margin-top: 10px;
  margin-left: 0px;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #69F7E6;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #006F89;
  padding: 8px 10px;
}
.navbar-default .nav > li > a {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.7px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: white;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #69F7E6;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #69F7E6 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    /*color: rgba(255, 255, 255, 0.7);*/
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
/*    color: rgba(255, 255, 255, 0.7);*/
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    /* picseed: */
    font-family: 'Nexa Light';
    font-size: 40px;
    color: #006F89;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #69F7E6;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #006F89;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #69F7E6;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  /* Mask: */
    background-image: linear-gradient(-45deg, #4E92A3 0%, #26596A 100%);
/* Board_ Swash_website: */
/* iPhone 6: */
/*  background: url("../img/bg-pattern.png"), #7b4397;
   fallback for old browsers
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
   Chrome 10-25, Safari 5.1-6
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
    /* Find your inspiratio: */
    font-size: 45px;
    color: #69F7E6;
    letter-spacing: 1px;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: 600;
  }
}
section {
  padding: 100px 0;
}
section h2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 45px;
    color: #26596A;
    letter-spacing: 0px;
    line-height: 75px;
}
/*section.download {
  padding: 300px 0;
  position: relative;
  background-image: url('../img/download_background.jpg');
  background-repeat: no-repeat;
   background-size: 100% auto;
}*/
section.download h2 {
  margin-top: 0;
  font-size: 50px;
}
section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  section.download h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
  }
}
section.features .section-heading {
  margin-bottom: 100px;
}
section.features .section-heading h2 {
  margin-top: 0;
}
section.features .section-heading p {
  margin-bottom: 0;
}
.bold-text {
  font-weight: bold;
}
section.features .device-container,
section.features .feature-item {
  max-width: 300px;
  margin: 0 auto;
}
section.features .device-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}
section.features .feature-item {
  text-align: center;
  margin-bottom: 100px;
}
section.features .feature-item h3 {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #006F89;
  letter-spacing: 0.78px;
  line-height: 20px;
}
section.features .feature-item i {
  font-size: 80px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 992px) {
  section.features .device-container,
  section.features .feature-item {
    max-width: none;
  }
}
section.cta {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url('../img/download_background.jpg');
  padding: 250px 0;
  background-position-x: center;
  background-repeat: no-repeat;
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
}
section.cta .cta-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  max-width: 450px;
  font-size: 50px;
}
@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}
section.contact {
  text-align: center;
}
section.contact h2 {
  margin-top: 6%;
  margin-bottom: 25px;
  /* Picseed is due to la: */
  font-family: 'Montserrat';
  font-size: 32px;
  color: #373A39;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}
footer {
  background: #373A39;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
footer p {
  font-size: 12px;
  margin: 10px;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
    text-transform: uppercase;
    /* ABOUT US: */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.7px;
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}
.bg-primary {
/*  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);*/
}
/*.text-primary {
  color: #fdcc52;
}*/
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
/*.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #fdcc52;
  border-color: #fdcc52;
}*/
.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn.bold-text {
  font-weight: bold;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
#logo{
    float: left;
    height: 55px;
    display: inline-block;
    margin: 10px;
}
/* About Us */
section#about.about.bg-primary.text-center{
    background: #FAFAFA;
    font-family: 'Open Sans';
    font-size: 22px;
    color: #373A39;
    line-height: 32px;
}
div#bs-example-navbar-collapse-1.collapse.navbar-collapse{
    padding-top: 10px;
}
p.text-muted{
    /* All inspiration is b: */
    font-family: 'Open Sans';
    font-size: 16px;
    color: #006F89;
    line-height: 24px;
}
a.btn.btn-outline.btn-xl.page-scroll{
    border-color: #69F7E6;
    color: #69F7E6;
    /* Test Now for Free: */
    font-family: 'Montserrat';
    font-size: 18px;
    color: #69F7E6;
}
.bg-primary{
    background-color: #FAFAFA !important;
}
#picseed-email{
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0px;
}
footer ul.list-inline{
    margin-top: 20px;
    margin-bottom: 10px;
}
.social-instagram{
    background-image: url('../img/Instagram_icon.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-instagram:hover{
    background-image: url('../img/Instagram_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-tumblr{
    background-image: url('../img/Tumblr_icon.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-tumblr:hover{
    background-image: url('../img/Tumblr_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-facebook{
    background-image: url('../img/Facebook_icon.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-facebook:hover{
    background-image: url('../img/Facebook_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-twitter{
    background-image: url('../img/Twitter_icon.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-twitter:hover{
    background-image: url('../img/Twitter_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
section#contact.contact.bg-primary{
    padding: 0px;
    padding-bottom: 20px;
}
section#about.about.bg-primary.text-center{
    text-align: left;

}
/*div.col-md-4{
    padding-top: 10%;
}*/
#about .container .col-md-8 p{
    padding-right: 7%;
}
.download-btn{
    margin-top: 20px;
}
section#download.cta.bg-primary{
    padding-top: 0px;
}
#teamPhoto{
    padding-top: 6%;
}
#contact{
    padding-top: 6%;
}
#cta-content{
    padding-top: 10%;
    padding-left: 0 !important;
}
#cta-content h2{
    /* Make Something Magic: */
    font-family: 'Montserrat';
    font-size: 40px;
    color: #FFFFFF;
    line-height: 60px;
}
.btn-white-hover:hover{
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}
.btn-filled-hover{
    /* Rectangle: */
    /* Rectangle: */
    border: 1px solid #006F89 !important;
    border-radius: 59px;
    font-size: 18px;
    color: #006F89 !important;
}
.btn-filled-hover:hover{
    color: white !important;
    background: #006F89 !important;
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .navbar-default .nav > li > a {
    text-transform: uppercase;
    /* ABOUT US: */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #006F89;
    letter-spacing: 0.7px;
    }
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #006F89;
    }
    .navbar-default .navbar-header .navbar-brand{
        color: #006F89;
    }
    header .header-content .header-content-inner h1{
        color: #69F7E6;
    }
       .social-instagram:hover,
.social-instagram:active{
    background-image: url('../img/Instagram_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-tumblr:hover,
.social-tumblr:active{
    background-image: url('../img/Tumblr_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-facebook:hover,
.social-facebook:active{
    background-image: url('../img/Facebook_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-twitter:hover,
.social-twitter:active{
    background-image: url('../img/Twitter_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
.navbar-default .nav > li > a {
    text-transform: uppercase;
    /* ABOUT US: */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #006F89;
    letter-spacing: 0.7px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #006F89;
    }
    .navbar-default .navbar-header .navbar-brand{
        color: #006F89;
    }
    header .header-content .header-content-inner h1{
        color: #69F7E6;
    }
          .social-instagram:hover,
.social-instagram:active{
    background-image: url('../img/Instagram_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-tumblr:hover,
.social-tumblr:active{
    background-image: url('../img/Tumblr_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-facebook:hover,
.social-facebook:active{
    background-image: url('../img/Facebook_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-twitter:hover,
.social-twitter:active{
    background-image: url('../img/Twitter_icon_hover.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
}
